html, body {
    margin: 0;
    padding: 0;
    background-color: #151515;
}

canvas {
    display: block;
    margin-top: 110px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 100px;
    z-index: 0;
}

#display_score{
    opacity: 0.5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    width: 800px;
    height: 450px;
    background: url("../img/terrain.png") repeat;
    margin-top: 110px;
    margin-left: 100px;
    z-index: 1000;

}
#display_score p{   
    text-align: center;
    opacity: 1;
}

#score{
    width: 100px;
    height: 100px;
    margin: auto;
    
}
#display_score h1{
    padding-top: 140px;
    text-align: center;
}
#alerts{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin-right:100px;
    margin-top: 110px;
     width: 200px;
    height: 450px;
     background: url("../img/terrain.png") repeat;
}

#alerts h1{
    text-align: center;
}